/* index-page */
.container ul{
  margin-bottom: 10px;
}
.edit-del{
  justify-content:flex-end;
  text-align: right;
}

.col-6-right-side{
  display: inline-flex;
  justify-content: flex-end;
}


.container-md{
  max-width: 950px;
}

.col-6 {
  display: inline-flex;
  font-size: 22px;
}

/* error-msg*/
.errormsg{
  color: #8E2800;
  margin: 0 0 30px 0;
  font-size: 22px;
  font-weight: bold;
}

.flash{
  color: #8E2800;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

/* top-page */
.top-page {
  margin-top: 20px;
    text-align: center;
    letter-spacing: 5px;
    font-size: 22px;
}

.top-title {
  text-align: center;
  color: #212121;
  letter-spacing: 5px;
}

.top-image{
  margin-top: 150px;
  opacity: 0.3;
}

/* header */
.navbar-toggler{
  position: relative;
  height: 20px;
  width: 28px;
  display: inline-block;
  box-sizing: border-box;
}

.navbar-toggler div{
  position: absolute;
  left: 0;
  height: 2px;
  width: 28px;
  background-color: #444;
  border-radius: 2px;
  display: inline-block;
  box-sizing: border-box;
}

.navbar-toggler div:nth-of-type(1) {
  bottom: 20px;
}
.navbar-toggler div:nth-of-type(2) {
  bottom: 10px;
}
.navbar-toggler div:nth-of-type(3) {
  bottom: 0px;
}

.navbar{
  background-color: #FFF0A5;
  padding: 15px 15px;
  margin-bottom: 30px;
}

.header-navbar .btn{
  font-size: 22px;
  margin-left: 10px;
  background-color: #FFF0A5;
  color: #212121;
  border-bottom: 1px dashed #FFB03B;
  border-bottom-width: medium;
}

.header-navbar .btn:hover{
  background-color: #f8f9fa;
}

/* common button */
.container .btn-light{
  border: none;
  background-color: #6cab8a;
  color: #212121;
  font-size: 22px;
}

.container .btn-secondary{
  font-size: 22px;
}

/* user-show page */
.card-body h2{
  font-size: 22px;
  font-weight: normal;
}

.card{
    font-size: 22px;
}

.container .mb-3{
  font-size: 22px;
}

